.box-1{
    position: relative;
    background-color: black;
    height: 100px;
    width: 100px;
    top: 40px;
    left: 40px;
}
.box-1 .box-2{
    position: absolute;
    background-color: red;
    height: 100px;
    width: 100px;
    top: 40px;
    left: 40px;

}
.elemento{
    position: sticky;
    background-color: gray;
    height: 100px;
    width: 100px;
    top: 120x;
    left: 120px;

}
.centro {
    width: 300px;
    margin: 0 auto;
}
.quadrato{
    position: relative;
    background-color: green;
    height: 200px;
    width: 200px;

}
.quadrato .sottoquadrato{
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: traslate(-50%,-50%);
}