*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 710px;
    height: 400px;
    border-radius: 10px;
    gap: 30px;
}
.main .blocco1{
    display: flex;
    gap: 15px;
    border: 1px solid;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
}
.main .blocco1 .box1{
    margin-left: 10px;
    margin-top: 12px;
    width: 140px;
    height: 91%;
    background-color: #b197fc;
    border-radius: 10px;
}
.main .blocco1 .colonna-destra{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 12px;
}
.main .blocco1 .colonna-destra .box2{
    width: 120px;
    height: 130px;
    background-color: #74c0fc;
    border-radius: 10px;
}
.main .blocco1 .colonna-destra .box3{
    width: 120px;
    height: 130px;
    background-color: rgb(182, 254, 188);
    border-radius: 10px;
}
.main .blocco2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    width: 300px;
    height: 300px;
}
.main .blocco2 hr {
    width: 100%;      /* Larghezza totale del blocco */
    margin: 40px 0;   /* Spazio sopra e sotto la linea */
}
.main .blocco2 .bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.main .blocco2 .bottom .box1{
    width: 20px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
.main .blocco2 .bottom .box2{
    width: 20px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
.main .blocco2 .bottom .box3{
    width: 20px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
.main .blocco2 .bottom .box4{
    width: 60px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin-left: 70px;
}